[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
pylint = "*"
pytest = "*"
uvicorn = "*"
requests = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "pylint ./currency_conversion"
test = "pytest"
